<VirtualHost _default_:80>
  ServerName _default_
  DocumentRoot /var/www/html

  Redirect / {{ apache_default_redirect }}

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
