<VirtualHost *:80>
  ServerName {{ lafabrique_domain }}
  ServerSignature Off

  Redirect / https://{{ lafabrique_domain }}/

  <Location />
    Order deny,allow
    Allow from all
  </Location>
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ lafabrique_domain }}
  ServerAdmin {{ contact_email }}
  ServerSignature Off

  CustomLog ${APACHE_LOG_DIR}/lafabrique_access.log combined
  ErrorLog ${APACHE_LOG_DIR}/lafabrique_error.log

  SSLCertificateFile      {{ lafabrique_ssl_cert }}
  SSLCertificateKeyFile   {{ lafabrique_ssl_key }}
  SSLEngine On

  DocumentRoot {{ lafabrique_home }}/the-law-factory/prod/
  <Directory "{{ lafabrique_home }}/the-law-factory/prod/">
    Options FollowSymLinks
    Require all granted
  </Directory>

  Alias "/api/" {{ lafabrique_home }}/the-law-factory-parser/data/
  <Directory "{{ lafabrique_home }}/the-law-factory-parser/data/">
    Options FollowSymLinks
    Require all granted
  </Directory>
</VirtualHost>
