angular.module('theLawFactory.config', [])
    .constant('API_ROOT_URL', '{{ lafabrique_ssl_cert is defined | ternary('https', 'http') }}://{{ lafabrique_domain }}/api/')
    .constant('GOOGLE_ANALYTICS_ID','')
    .constant('HOST_FOR_GOOGLE', 'lafabriquedelaloi.fr')
    .config(function($logProvider){
        $logProvider.debugEnabled(false);
    });