<VirtualHost *:80>
  ServerName {{ munin_domain }}
  ServerAdmin {{ contact_email }}
  ServerSignature Off

  CustomLog ${APACHE_LOG_DIR}/munin_access.log combined
  ErrorLog ${APACHE_LOG_DIR}/munin_error.log

  DocumentRoot /var/cache/munin/www
  <Directory /var/cache/munin/www>
    Options FollowSymLinks
    AllowOverride None
    Require all granted
  </Directory>

  <Location />
    Order deny,allow
    Allow from all
  </Location>
</VirtualHost>
